<template name="about">
    <div class="card">
      <div flex><img src="/largeMe.jpg" alt="my ugly mug" class="round" /></div>
      <div class="card-title">Welcome to Ashkettle.com</div>
      <div flex></div>
      <div class="card-summary">
        About Me
      </div>
      <div class="content"><p>My name is Richard Ashkettle.  I spend my days working as a Technical Architect
        in Pittsburgh PA.
        During my off hours, I spend my time coding in JavaScript.
        I am obsessed with full stack development in JavaScript and spend quite a bit of my time exploring it.
        This obsession is matched by my love of hobby game programming, which is where I spend the rest of my
        efforts.</p>
        <p>Sometime in all this code, I find time to spend with my family, which is where my true passion lies.</p>
      </div>
      <div flex></div>
      <div class="card-summary">
        About Ashkettle.com
      </div>
      <div class="content"><p>I wrote this blog as an experiment with Meteor and Polymer.js.  I've found the blending of
      technologies to be quite effective, and I feel I'll be spending more time with both.</p>
        <p>My articles will focus around JavaScript, Meteor, Polymer, and Game Programming in JavaScript.</p>
      </div>
    </div>
</template>
